
:root {
    --black: #000000;
    --white: #FFFFFF;
    --blue: #0077ED;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;;
}
html,
body{
    width: 100%;
    height: 100%;
}
#nav{
    gap: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(44, 43, 43);
    justify-content: center;
}
#nav h4{
    color: var(--white);
    font-weight: 300;
}
#nav h4:hover{
    cursor: pointer;
    text-decoration: underline;
}
#center{
    height: 80%;
    width: 100%;
    background-image: url(./hero_iphone_17_pro.webp);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:   50px;
    
}
#center h1{
    color: var(--white);
    font-size: 50px;
    font-weight: 600;
}
#center h5{
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
}
#links {
    gap: 30px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}
button{
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--blue);
    border: var(--blue) 1px solid;
}
#buy {
    background-color: transparent;
    color: var(--blue);
    transition: scale .3s ease-in-out;
}